.main {
  z-index: 1;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
  gap: $gap;
}

@include create-selectors;

@each $breakpoint, $width in $breakpoints {
  @media (min-width: $width) {
    @include create-selectors($breakpoint);
  }
}

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.header-page {
  background-color: var(--primary-color);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  padding: 70px 10px;
  height: calc(100vh - 40px);
  margin: 20px;

  &:before {
    background-image: url('/images/pattern.png');
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  &:after {
    content: '';
    position: absolute;
    background: rgb(255, 216, 54);
    background: linear-gradient(0deg, rgba(255, 216, 54, 1) 0%, rgba(255, 216, 54, 1) 50%, rgba(255, 216, 54, 0) 100%);
    width: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    bottom: 0;
    top: 10vh;
  }

  &.panel {
    &:after {
      background: var(--background-color);
      top: 25vh;
    }
  }
}

.title {
  margin-bottom: 100px;
}

.wrap {
  width: 282px;
  margin: auto;
}

.logo {
  position: relative;
  z-index: 2;
  display: block;
  margin: 120px auto 0;
}

.link {
  margin-top: 30px;
  display: block;
  text-align: center;
}