.wrap {
  transition: all 200ms ease-in-out;
  &:hover {
    transform: translate(0, -3px);
  }
}

.date {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
}

.title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 48px;
  opacity: 0.8;
}

.info {
  display: flex;
  justify-content: space-between;
}