.button {
  display: block;
  padding: 17px 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-button-color);
  background-color: var(--bg-button-color);
  border-radius: 18px;
  transition: all 200ms ease;

  &:hover {
    opacity: 0.8;
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    background-color: var(--primary-color);
    color: #000;

    &:hover {
      opacity: 0.8;
      background-color: var(--primary-color);
    }
  }
}
