.textarea {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 36px;

  &::-ms-input-placeholder { /* Edge 12-18 */
    font-style: italic;
  }

  &::placeholder {
    font-style: italic;
  }
}

.label {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 21px;
}