.wrap {
  margin: 20px 0;
}

.headerList {
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 15px;
}

.listItem {
  border-bottom: 1px solid #E5C231;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  &:hover .removeBtn {
    opacity: 1;
  }

  label {
   display: none;
  }
}

.removeBtn {
  color: red;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  opacity: 0;
  margin-top: 6px;
}

.input {
  display: inline-block;
  border: 0;
  margin-bottom: 0;
  background-color: var(--participants-input);
  height: 25px;
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
}