.wrap {
  margin: 20px 0;
}

.listItem {
  border-bottom: 1px solid #E5C231;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  &:hover .removeBtn {
    opacity: 1;
  }
}

.removeBtn {
  color: red;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  opacity: 0;
}