.hoverInputs {

  margin-left: -10px;
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background: rgba(255, 216, 54, 0.2);
    border-radius: 5px;
  }

}

.headerWrap {
  margin-bottom: 15px;
}

.date {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: -10px;
  padding-left: 10px;
  cursor: pointer;

  @extend .hoverInputs
}

.title {
  font-size: 36px;
  font-weight: 700;
  opacity: 0.8;

  @extend .hoverInputs
}

.observation {
  padding-top: 5px;
  padding-bottom: 5px;
  @extend .hoverInputs
}

.metrics {
  margin-bottom: 25px;
}

.list {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5C231;

  &:hover .removeBtn {
    opacity: 1;
  }
}


.participant, .contributionAmount {
  font-size: 21px;
  font-weight: 700;
  margin-left: 20px;
}

.participant {
  margin-left: 20px;
}

.contributionAmount, .priceWithoutDrink, .priceWithDrink {
  padding-right: 10px;
  @extend .hoverInputs;
}

.priceWithoutDrink, .priceWithDrink {
  font-size: 21px;
}

.paid {
  text-decoration: line-through;
}

.input {
  width: 100%;
  padding: 7px;
  font-size: 18px;
  height: 24px;
  box-shadow: none;
  text-align: center;
  border: 1px solid #efefef;
  border-radius: 4px;
  font-weight: bold;
}

.removeBtn {
  color: red;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  opacity: 0;
  margin-top: 6px;
}

.inputTitle {
  @extend .input;
  font-size: 36px;
  font-weight: 700;
  opacity: 0.8;
  text-align: left;
  height: 35px;
  margin-left: -8px;
  margin-bottom: 1px;
  font-family: inherit;
}

.inputObservation {
  font-family: inherit;
  font-size: 16px;
  margin-left: -4px;
  margin-bottom: 1px;
  width: 100%;
}

.inputDate {
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 8px;
  font-family: inherit;
  margin-top: -5px;
  margin-left: -5px;
}

.addParticipant {
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 10;
  position: relative;
}

.editableInput {
  font-size: 19px;
  text-align: center;
  height: 24px;
}