.headerWrap {
  margin-bottom: 45px;
}

.date {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  opacity: 0.8;
}

.metrics {
  margin-bottom: 25px;
}

.list {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5C231;

  &:hover .removeBtn {
    opacity: 1;
  }
}


.participant, .contributionAmount {
  font-size: 21px;
  font-weight: 700;
  margin-left: 20px;
}

.participant {
  margin-left: 20px;
}

.contributionAmount {

}

.paid {
  text-decoration: line-through;
}

.input {
  width: 100%;
  padding: 7px;
  font-size: 18px;
  height: 24px;
  box-shadow: none;
  text-align: center;
  border: 1px solid #efefef;
  border-radius: 4px;
  font-weight: bold;
}

.removeBtn {
  color: red;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  opacity: 0;
  margin-top: 6px;
}