.wrap {
  text-align: center;
  height: 100%;

  min-height: 174px;

  > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
    box-shadow: none;
    height: 100%;
    min-height: 174px;
    transition: all 200ms ease;

    &:hover {
      background-color: var(--primary-color) !important;

      .icon {
        background: #F1F1F1
      }
    }
  }
}

.icon {
  background-color: var(--primary-color);
  margin-bottom: 10px;
  height: 90px;
  width: 90px;
  text-align: center;
  padding: 21px;
  border-radius: 70px;
  transition: all 200ms ease;
}

.text {
  font-size: 21px;
  font-weight: 700;
}